version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    groups:
      minor-and-patch:
        update-types:
          - "minor"
          - "patch"
    open-pull-requests-limit: 10
    schedule:
      interval: "weekly"
      day: "monday"
      time: "06:00"
      timezone: "Europe/London"
    versioning-strategy: "auto"
